@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-custom-gray-200: #1e1e1e20;
  --color-custom-gray-800: #00000080;
  --color-custom-gray-900: #00000090;

  --color-primary: #2fa60c;
  --color-secondary: #a9c408;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1248px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@utility cta-btn {
  background-color: var(--color-primary);
  border-radius: 0.375rem;
  padding: 0.75rem 2.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: white;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s;
}
